.container {
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 1.2fr 60px 1fr;
    grid-template-areas:
        "controls controls controls"
        "left center right";
    padding: 5px;
    box-sizing: border-box;
}

.header {
    grid-area: header;
    text-align: center;
}

.left {
    font-size: 25px;
    display: flex;
    align-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
    grid-area: left;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 10px;
    /* this height forces height of right column also */
    height: calc(100vh - 90px); 
} 

.right {
    padding: 20px;
    box-sizing: border-box;
    grid-area: right;
    border: 1px solid black;
    border-radius: 10px;
}

.center {
    grid-area: center;
    align-self: center;
}

.controls {
    grid-area: controls;
    display: flex;
    flex: 1;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.translation {
    font-size: 40px;
}

.word {
    cursor: pointer;
}

.word:hover {
    color: aqua;
}